Babel
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
alabaster
commonmark
cycler
docutils
imagesize
latexcodec
matplotlib
numpy
oset
pybtex-docutils
pybtex
pyparsing
python-dateutil
pytz
rst2pdf
six
snowballstemmer
sphinxcontrib-bibtex
sphinx_panels
sphinx_fontawesome
sphinx-notfound-page
sphinx-csv-filter
git+https://github.com/sphinx-contrib/video.git
