Babel
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx>=5.0
alabaster
commonmark
cycler
docutils
imagesize
latexcodec
matplotlib
numpy
oset
pybtex-docutils
pybtex
pyparsing
python-dateutil
pytz
rst2pdf
six
snowballstemmer
sphinxcontrib-bibtex
sphinx_design
sphinx_panels
sphinx-copybutton
sphinx_fontawesome
sphinx-notfound-page
sphinx-csv-filter
sphinx-tippy
sphinx-book-theme
git+https://github.com/sphinx-contrib/video.git
