Babel
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
alabaster
commonmark
cycler
docutils==0.16
imagesize
latexcodec
matplotlib
numpy
oset
pybtex-docutils
pybtex
pyparsing
python-dateutil
pytz
recommonmark
six
snowballstemmer
sphinxcontrib-bibtex
sphinx-inline-tabs
sphinx_panels
sphinx_fontawesome
sphinx-notfound-page
git+https://github.com/sphinx-contrib/video.git
